 __pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.mypy_cache/
.pytest_cache/
.DS_Store
.idea/
.vscode/
# Ignore log files
logs/
*.log
.ruff_cache
# Ignore build folder and its contents
/build/

# Ignore lambda layer preparation files
/lambda_layer/

# Ignore any generated .zip files for Lambda layers
*.zip