pg8000
pytest
boto3
pytest-mock
pytest-testdox
pandas
pyarrow
black
flake8
freezegun==0.3.4
botocore
moto[all]==4.1.14
bandit
localstack
awscli-local
chardet     # for automatic encoding detection
python-dotenv  # if you use .env for local AWS creds
